[user]
	email = sergzub@gmail.com
	name = Sergey Zubkovsky
[push]
	default = simple
[credential]
	helper = cache --timeout=2592000
[alias]
	co = checkout
	cm = commit
	df = diff
	st = status
	ll = log --all --source --oneline --graph
	ba = branch -avv
	br = branch
	sm = submodule
[gc]
	autoDetach = false
