#[user]
#	email =
#	name =
[push]
	default = simple
[credential]
	helper = cache --timeout=2592000
[alias]
	co = checkout
	cm = commit
	df = diff
	st = status
	# ll = log --source --oneline --graph --all -12
	ll = log --all -20 --graph --pretty=format:'%C(auto)%h%d %C(cyan)(%cr)%Creset %C(green)%ce%Creset %s'
	ba = branch -avv
	br = branch
	sm = submodule
[gc]
	autoDetach = false
[pull]
	ff = only
